html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: scroll;
}

body {
    background-color: black;
    color: #d4af37;
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;

}

header, footer {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #d4af37;
    color: black;
    margin: 0;
}

footer {
    top: auto;
    bottom: 0;
    padding: 0.2rem;
    font-size: 0.8rem;
}

footer p {
    margin: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 5rem auto 0;
    width: 60rem;

}

.taskDesc {
    width: 100%;
    background-image: linear-gradient(#d4af37 80%, black);
    color: black;
    padding: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

.taskDesc h2 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0.5rem;
}

.task2_1 {
    border: 1px solid #d4af37;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

#list2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}