<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> s2008156 Cloud Computing A1 2024 SP1 Task 2 </title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <header>
             <h1> The Forum! </h1> <button><a href="https://s2008156-cca1.ts.r.appspot.com/">TASK 1</a></button> <button><a href="https://s2008156-cca1-2.ts.r.appspot.com/">TASK 2</a></button>
        </header>
        <div class="content">
            <div class="task2_1">
                <div class="taskDesc">
                    <h2>Task 2.1</h2>
                    <p>Show top 10 time slots (year and month) with the highest trade value (i.e. import value + export value).
                </div>

                <table id="table2_1">
                    <tr>
                        <th>#</th>
                        <th>Year/Month</th>
                        <th>Trade Value (Import + Export)</th>
                    </tr>

                {% for result in results2_1 %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ result['time_ref'] }}</td>
                        <td>{{ result['total'] }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class="task2_2">
                <div class="taskDesc">
                    <h2>Task 2.2</h2>
                    <p>Show top 40 countries with the highest total trade deficit value (i.e. import value - export value) of goods from 2013 to 2015 where status is “F”.
                </div>

                <table id="table2_2">
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th>Product Type</th>
                        <th>Status</th>
                        <th>Trade Deficit</th>
                    </tr>

                {% for result in results2_2 %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ result['country'] }}</td>
                        <td>{{ result['product'] }}</td>
                        <td>{{ result['status'] }}</td>
                        <td>{{ result['deficit'] }}</td>
                    </tr>
                {% endfor %}
                </table>

            </div>

            <div class="task2_3">
                <div class="taskDesc">
                    <h2>Task 2.3</h2>
                    <p>Show top 25 services with the highest total trade surplus value (i.e. export value - import value) in the top 10 time slots of Query Result 1 and the top 40 countries of Query Result 2.
                </div>

                <table id="table2_3">
                    <tr>
                        <th>#</th>
                        <th>Service</th>
                        <th>Trade Surplus</th>
                    </tr>

                {% for result in results2_3 %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ result['service'] }}</td>
                        <td>{{ result['surplus'] }}</td>
                    </tr>
                {% endfor %}
                </table>

            </div>
        </div>
        <footer>
            <div>
                <p>© Phi Van Lam Bui S2008156
                <p>OUA 2024 SP1 - Cloud Computing (RMIT)
            </div>
        </footer>         
    </body>
    
</html>